<nz-layout class="layout">
  <nz-header class="header">
      <div class="logo" (click)="navSelect(navigationList.first, 0)">
        <label class="logo-img">🔥</label>
        <label class="logo-title">基础服务组件库</label>
      </div>
      <div class="tabs">
        <nz-tabset [(nzSelectedIndex)]="selectedIndex" nzTabPosition="bottom">
          <nz-tab [nzTitle]="item.Name" (nzClick)="navSelect(item, i)" *ngFor="let item of navigationList.items;index as i"></nz-tab>
        </nz-tabset>
        <label class="github">🌈 <a href="https://github.com/xiasong8023/view-basis.git" target="_blank">GitHub网站</a></label>
      </div>
  </nz-header>
  <nz-content class="main">
    <nz-sider class="main-side" nzTheme="light" nzWidth="16%">
      <ul nz-menu>
        <li nz-menu-group [nzTitle]="menu.Name" [class.no-update-item-group-title]="!menu.Name" [class.update-item-group-title]="menu.Name" *ngFor="let menu of navMenuList.items">
          <ul nz-menu>
            <li nz-menu-item nzMatchRouter *ngFor="let item of menu.Children">
              <a [routerLink]="[item.Router]">{{item.Name}}</a>
            </li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-content class="main-content">
      <router-outlet></router-outlet>
    </nz-content>
  </nz-content>
</nz-layout>
